:root {
    --primary-color: #A0777A ;
    --secondary-color: #A08977 ;
    --background-color: #A09D77 ;
    --box-background: white ;
    --text-color: black ;
    --font-family: Arial, Helvetica, sans-serif;
}


* {
    box-sizing:border-box
}

body {
    margin: 0;
    font-family: var(--font-family) ;
    color: var(--text-color);
    background-color: var(--background-color);
}

header {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

section {
    margin: 0 1rem;
    padding: 1rem;
    background-color: var(--box-background);
    border-radius: 5px;
}

section h2 {
    margin-top: 0;
    text-align: center;
}

.weather {
    text-align: center;
}

.weather img {
    width: 40px;
    height: auto;
    margin-bottom: 1rem;
}

footer {
    text-align: center;
    padding: 1 rem;
    background-color: var(--secondary-color);
    font-size: 0.6rem;
}

@media (min-width: 600px)
{

    main {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-areas: 
            "hero hero hero"
            "data hero weather";
        gap: 1rem;
        padding: 1rem;
    }

    .hero {
        grid-area: data;
        align-self: start;
    }

    .data {
        grid-area: data;
        align-self: start;
    }

    .weather {
        grid-area: weather;
        align-self: start;
    }

    .weather img {
        display: none;
    }

    .weather-icon {
        width: 40px;
        height: auto;
        vertical-align: middle;
        margin-left: 0.5rem;
    }

    .weather h2::after {
        content: "☀️";
        margin-left: 0.5rem;
    }

    section {
        margin: 0;
    }

}